.principal {
    text-align: left;
    margin: 20rem 0 0 20rem;
}

h1 {
    color: var(--Branco-Dracula, #F8F8F2);
    font-family: Cascadia Code;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; 
    letter-spacing: -0.4px;
    font-size: 42px;
}

.sobre {
    text-align: center;
    color: var(--Roxo-dracula, #BD93F9);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    max-width: 800px;
    margin: 8rem 2rem 0 20rem; 
    padding: 2rem;
    background-color: #282A36;
    border-radius: 8px;
    transition: transform 0.3s ease;
    border: 2px solid #FF79C6; 
}

.sobre:hover {
    cursor: pointer;
    transform: scale(1.05); 
    border: 2px solid #FF79C6; 
}


h1:hover {
    color:#50FA7B;
}

.titulo {
    color: var(--Rosa-Dracula, #FF79C6);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: 1px;
}