.geral {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
/* Pra evitar que tudo altere quando você puxa, puxa junto o elemento que tá dentro da class, assim só ele vai alterar */
.geral img {
  margin-right: 18rem;
}

/* Igualando a margem da direita e esquerda para 18rem */
.texto {
  /* display: inline-block; */
  margin-left: 18rem;
  font-family: Cascadia Code;
  font-size: 58px;
  /* font-style: normal; */
  font-weight: 700;
  text-align: left;
  line-height: 70px;
  letter-spacing: -1px;
  color: #f8f8f2;
}

/* Nomes das classes precisam ser mais descritivas */
@keyframes byeEmoji {
  0%,
  100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}

.byeEmoji {
  display: inline-block;
  animation: byeEmoji 4s infinite;
}

span {
  color: #ff79c6;
}
