@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,400;0,9..40,600;1,9..40,100;1,9..40,200;1,9..40,400;1,9..40,600&display=swap");

nav {
  height: auto;
  background-color: #282a36;
  display: flex;
  gap: 0.7rem;
  align-items: center; 
}

.navegacao {
  gap: 3rem;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #a7a7a7;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; 
}

.navegacao li {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.navegacao img {
  gap: 30px;
  width: 100%;
  margin-right: 0; 
}

.navegacao li:hover {
  color: #ff79c6;
  cursor: pointer;
  transform: scale(1.5);
}

.sociais {
  margin-left: 6rem;
  gap: 0.7rem;
  display: flex;
  justify-content: flex-end;
  transition: transform 0.3s ease;
}

.sociais:hover {
  transform: scale(1.8);
  cursor: pointer;
}

.burn {
  gap: 1rem;
  display: flex;
  justify-content: flex-end;
  margin: 0 0rem 0 45rem;
}
