@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,400;0,9..40,600;1,9..40,100;1,9..40,200;1,9..40,400;1,9..40,600&display=swap');

nav {
    height: auto;
    max-width: 100%;
    background-color: #282A36;
    display: flex;
    gap: 0.7rem;
    align-items: center; /* Alinhe os itens verticalmente no centro */
}

.navegacao {
    gap: 3rem;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    color: #A7A7A7;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Use flex container para alinhar itens lado a lado */

}

.navegacao li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;

}

.navegacao img {
    gap: 30px;
    width: 100%;
    margin-right: 0; /* Adicione margem à direita do logotipo */
}

.navegacao li:hover{
    color: #FF79C6;
    cursor: pointer;
    transform: scale(1.5);
}

.sociais {
    gap: 0.7rem;
    display: flex;
    justify-content: flex-end;
    transition: transform 0.3s ease; /* Ajuste a duração conforme necessário */
    
}

.sociais:hover{
    transform: scale(1.8);
    cursor: pointer;
}



.burn {
    gap: 0.7rem;
    display: flex;
    justify-content: flex-end;
    margin: 0 20rem 0 50rem;
}

